body {
  background-image: url("../design/bg_001.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

img {
  width: 16rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white_phone {
  position: relative;
  bottom: -9vw;
  left: 34.1vw;
  width: 20rem;
  height: auto;
  display: flex;
}
.black_phone {
  position: relative;
  display: flex;
  width: 20rem;
  height: auto;
  left: 53vw;
  bottom: 23.5vw;
}

h1 {
  font-family: sans-serif;
  font-size: 3.25rem;
  text-align: left;
  margin: 12% 0 5% 0%;
  color: white;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20rem;
  right: 40rem;
  text-align: left;
  p {
    color: white;
    font-size: 1vw;
    margin: auto;
    font-family: sans-serif;
  }
}
article {
  width: 40%;
}
button {
  text-align: center;
  border-radius: 0.4rem;
  padding: 1.4rem;
  width: 14rem;
  margin-top: 3.1rem;
  border: none;
  color: white;
  font-weight: bold;
}
.learn_more {
  background-color: rgb(84, 190, 87);
  font-size: 1.1rem;
}
.get_the_app {
  background-color: rgb(52, 152, 220);
  margin-right: 1.1rem;
  font-size: 1.1rem;
}
